name: Update and Deploy Piano Library

on:
  push:
    branches: ["master"]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-commit:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'
    
    - name: Install dependencies
      run: npm install
        
    - name: Generate songs.json
      run: node generate_data.cjs
    
    - name: Build React app
      run: npm run build
      
    - name: Commit and push dist
      run: |
        git config --global user.name 'GitHub Action'
        git config --global user.email 'action@github.com'
        git add dist/ src/data/songs.json
        git diff --quiet && git diff --staged --quiet || (git commit -m "Auto-build: Update dist and songs.json" && git push)
